
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <form action="/movies" method="GET">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="SearchText" id="movie" placeholder="enter your movie name" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2"> <input type="submit" name="submit" id="submit" value="search"></span>
          </div>
       
    </form>
</body>
</html>
