<ul>
    <% data.forEach(movie=>{%>
  
        <% if(movie.Poster!='N/A'){%>
           
            <a href="/movies/<%= movie.imdbID  %> "><img src="<%= movie.Poster %> " alt="<%= movie.Title %> "></a>
       <% } %>
    <%}) %>     
</ul>